@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-submit {
  display: none;
}

.popup-submit.active {
  display: block;
}

.success {
  display: block;
}

.failed {
  display: block;
}

.modal-content {
  margin: 15% auto;
}

.backgroud-grid {
  background-image: url(/assets/grid.svg);
}
